.signin-img-text {
    font-weight: 400;
    opacity: 0.8;
}
.boost-btn {
    width: 10.5px;
    height: 10.5px;
    border: none;
    background: transparent;
}
.boost-btn:not(.active) {
    background-color: #fff;
    border-radius: 50%;
}
.boost-btn.active {
    border: 2px solid #fff;
    border-radius: 50%;
}
.boost-btn.active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #2BDA53;
}