@import 'tailwindcss';


@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SF-Pro-Text-Regular.otf")
  format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SF-Pro-Text-Medium.otf")
  format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SF-Pro-Text-Bold.otf")
  format("opentype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sf: "SF Pro Text", sans-serif;
}

body {
  margin: 0;
}


